.idea/
.vscode/
docs/
examples/
font_generator/
tests/
tmp/

dist/.gitkeep
dist/abcjs-basic-min.js
dist/abcjs-basic-min.js.map
dist/abcjs-basic.js
dist/abcjs-plugin-min.js
dist/abcjs-plugin-min.js.map
build-node.sh
.babelrc
.eslintrc
.gitmodules
deploy-docs.sh
docker-start.sh
docker-build.sh
docker-compose.yml
Dockerfile
start-version.sh
rollup.config.mjs
to-*.sh
plugin.js
