body.yui-skin-sam {
	text-align: left;
}

h1 {
	font-size: 2.5em;
	font-weight:bold;
	margin-top: .5em;
	margin-bottom: .5em;
}

h2 {
	font-size: 1.5em;
	font-weight:bold;
	margin-top: .5em;
	margin-bottom: .5em;
}

p {
	margin-bottom: 1em;
}

.main {
	min-height:800px;
	min-width:950px;
	padding:15px;
	z-index: 1;
}

.background_image {
	width: 1500px;
	height: 1200px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity:0.1;filter:alpha(opacity=10)
}

.header {
	border-bottom:3px solid #FFDDDD;
	margin-bottom:6px;
}

#user_nav {
	float: right;
	font-size: 12px;
}

.editor {
	float: left;
	margin-left:1em;
	width: 70%;
}

.editor textarea {
	width: 98%;
	font-family:"Monaco","Verdana",monospace;
}

.controls {
	padding-left: 1em;
	margin-left: 70%;
}

.output {
	clear: both;
	padding-top:1em;
}

.canvas {
	background-color: #ffffff;
}

.footer {
	border-top: 3px solid #FFDDDD;
	margin-top:12px;
}

.block_explanation {
	border: 1px solid gray;
	font-style: italic;
	padding: 1em;
	background-color:#F6F6F6;
}

.explanation {
	font-weight: bold;
	font-size: 1.5em;
}

ul.NoBulletNoIndent {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px
}

#ajax_status {
	background-color: #eeeeee;
	color: red;
}

.about_text {
	max-width: 800px;
}

.about_text p {
	font-size: 16px;
}

.hidden {
	display: none;
}

.test_suite_controls th {
	width: 320px;
	border: 1px solid #cccccc;
}

.test_suite_controls td {
	width: 320px;
	border: 1px solid #cccccc;
}

#abcm2ps_output {
	font-family: "Monaco", "Courier", monospaced;
}

#success_count {
	background-color: green;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

#fail_count {
	background-color: red;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.no_style {
	list-style-type:none;
}

.block_explanation ul {
	list-style-type:none;
}

.block_explanation li {
	padding-bottom: 1em;
}

#login_dlg {
	width: 227px;
}

.login_row {
	padding-bottom: 8px;
}

.login_title {
	font-size: 1.4em;
	font-weight: bold;
}

.login_instructions {
	font-style: italic;
}

.login_label {

}

.login_input {
	width:200px;
}

.tunebook_label {
	margin-right:1em;
}

.tunebook_input {

}

.tunebook_textarea {
	width: 25em;
	height: 7em;
}


.tunebook_checkbox {
	margin-right:1em;
}

.tunebook_div {
	width: 330px;
}

.tunebook_row {
	padding-bottom: 8px;
}

.flash_notice_ok {
	color: green;
	font-weight: bold;
	padding-bottom:10px;
}

.flash_notice_error {
	color: red;
	font-weight: bold;
	padding-bottom:10px;
}

.option_button {
	background-image: url(/images/button.png);
	display: inline;
	height: 25px;
	float: right;
	width: 60px;
	text-align: center;
	text-decoration: underline;
}

.option_button:hover {
	text-decoration: none;
}

.option_and_sel_wrapper {
	padding-top: 8px;
}

.hover_commands {
	border: 3px solid #808080;
	background-color: #F2F2F2;
	padding: 1em;
	position:relative;
	right:140px;
	top:8px;
	width:160px;
	text-align: right;
}

.tune_instructions {
	font-style: italic;
	color: gray;
}

.tune_label {
	float: left;
	width: 120px;
}

.tune_input {

}

.tune_row {
	padding-bottom: 8px;
}

.midi {
	padding-left:3px;
	padding-top: 16px;
}

#tunebook_description_div {
	padding: 1em;
	font-family: serif;
	font-style: italic;
	font-size: 1.2em;
}

/* Styles for the comparison page */

.test_suite_controls th {
	padding-left: 10px;
}

.test_suite_controls td {
	padding-left: 10px;
}
