header.navbar .site-name {
  display: none;
}

textarea {
  width: 100%;
  height: 200px;
}

.my-code {
  color: #fff;
  padding: 1.25rem 1.5rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.code-results {
  display: inline-block;
  border: 2px outset #fff;
  padding: 3px 10px;
  border-radius: 4px;
  color: #000;
  background: #a8f5e7;
  font-weight: bold;
}
